/* calendar div */
.react-calendar{
  font-family: openSansRegular;
  -webkit-box-shadow: 21px 13px 44px 0px rgb(152,152,152);
  -moz-box-shadow: 21px 13px 44px 0px rgb(152,152,152);
  box-shadow: 21px 13px 44px 0px rgb(152,152,152);
  border-radius: 5px;
}
/* buttons for any day */
.react-calendar__tile{
  font-family: openSansRegular;
  border-radius: 40px;
  height: 50px;
}
/*current day button */
.react-calendar__tile.react-calendar__tile--now.react-calendar__month-view__days__day.react-calendar__month-view__days__day--weekend{
  background-color: #B7C6FB;
}
/* selected day button */
.react-calendar__tile.react-calendar__tile--active.react-calendar__tile--range{
  background-color: #95ABFB;
}
/* current date buttons */
.react-calendar__tile.react-calendar__tile--now{
  background-color: #B7C6FB;
}
.react-calendar__tile.react-calendar__tile--now:hover{
  background-color: #B7C6FB;
}
/* selected date buttons */
.react-calendar__tile.react-calendar__tile--hasActive{
  background-color: #95ABFB;
}
.react-calendar__tile.react-calendar__tile--hasActive:hover{
  background-color: #95ABFB;
}
/* header */
.react-calendar__navigation__label{
  font-family: openSansRegular;
}


@media (max-width: 400px) {
  /* calendar div */
  .react-calendar{
    width: 320px;
    height: 370px;
  }
  /* buttons for any day */
  .react-calendar__tile{
    font-family: openSansRegular;
    border-radius: 40px;
    height: 45px;
  }
}
