div.css-3fvcat{
  height: 50%;
  width: 50%;
  z-index: 1;
  pointer-events: none;
}
div.css-1sjrgpt{
  height: calc(20vw + 20vh);
  width: calc(20vw + 20vh);
  z-index: 1;
}
div.css-4c8ub5{
  height: calc(10vw + 10vh);
  width: calc(10vw + 10vh);
  z-index: 1;
}
