@font-face {
  font-family:"ISOCT2";
  src: url("./fonts/ISOCT2.ttf") format("truetype");
}

@font-face {
  font-family:"nirmala";
  src: url("./fonts/Nirmala.ttf") format("truetype");
}

@font-face {
  font-family:"openSansRegular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

button:focus{
  outline: none;
}

body{
  font-family: openSansRegular;
}

::placeholder{
  color: black;
}
