@font-face {
  font-family:"ISOCT2";
  src: url("./fonts/ISOCT2.ttf") format("truetype");
}

@font-face {
  font-family:"nirmala";
  src: url("./fonts/Nirmala.ttf") format("truetype");
}

@font-face {
  font-family:"openSansRegular";
  src: url("./fonts/OpenSans-Regular.ttf") format("truetype");
}

button{
    cursor: pointer;
    /*font-family: openSansRegular;*/
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

button:focus{
  outline: none;
}

/* icon buttons like login, my notes, my tasks, etc.*/
.icon{
  box-shadow: -1px 2px 5px 0px #B7C6FB;
}

body{
  /*font-family: openSansRegular;*/
  font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

::-webkit-scrollbar {
  width: calc(0.4vh + 0.3vw);
  background: white;
}
::-webkit-scrollbar-thumb {
  background-color: #FF68B8;
}

::placeholder{
  color: #B7C6FB;
}
